/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --header-background-color: #bcc199; /* Warna abu-abu untuk latar belakang header */
  --primary-color-light: #bcc199; /* Lighter shade of green */
  --secondary-color: #ffffff; /* White */
  --extra-light: #ffffff; /* Light grey */
  --white: #ffffff; /* White */
  --max-width: 1200px;
  --header-font: "Lisu Bosa", serif;
}

/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Section container */
.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

/* Section header */
.section__header {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
  font-family: var(--header-font);
  text-align: center;
  color: #bcc199; /* Ubah warna menjadi hijau telur asin */
}

/* Section subheader */
.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #bcc199; /* Ubah warna menjadi hijau telur asin */
}

/* Button styles */
.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

/* Image styles */
img {
  width: 100%;
}

/* Link styles */
a {
  text-decoration: none;
}

/* Smooth scrolling */
html,
body {
  scroll-behavior: smooth;
}

/* Body styles */
body {
  font-family: "Poppins", sans-serif;
  color: #bcc199; 
  color: var(--white);
  background-color: var(--primary-color);
}

/* Header styles */
header {
  background-color: var(--header-background-color); /* Ubah latar belakang header menjadi warna abu-abu */
  background-image: linear-gradient(to top, var(--header-background-color), transparent),
    url("../vienna/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navigation styles */
nav {
  background-color: rgba(180, 180, 180, 0.5);
  border-bottom: 1px solid var(--extra-light);
}

.nav__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--header-background-color);
}

.nav__logo img {
  width: 100px; /* Adjust logo size as needed */
  height: auto; /* Adjust logo size as needed */
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 1.5rem 5px;
  font-weight: 500;
  color: var(--header-background-color);
  transition: 0.3s;
}

.link a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.link span {
  padding: 1rem 0;
  color: var(--header-background-color);
  cursor: pointer;
}

/* Header container styles */
.header__container {
  padding: 12rem 1rem;
}

.header__container h1 {
  margin-bottom: 1rem;
  max-width: 700px;
  font-size: 4rem;
  font-family: var(--header-font);
}

.header__container h4 {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: #bcc199; /* Ubah warna menjadi hijau telur asin */
}

.header__container h4::after {
  position: absolute;
  content: "";
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 2rem;
  background-color: var(--white);
}

/* About container styles */
.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.about__container :is(.section__header, .section__subheader) {
  text-align: left;
}

.about__flex {
  margin: 2rem 0;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--primary-color-light);
}

.about__card {
  flex: 1 1 150px;
  text-align: center;
  border-right: 2px solid var(--primary-color);
}

.about__card:last-child {
  border: none;
}

.about__card h4 {
  margin-bottom: 5px;
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: #bcc199; /* Ubah warna menjadi hijau telur asin */
}

.about__card p {
  font-size: 0.9rem;
  color: #bcc199; /* Ubah warna menjadi hijau telur asin */
}

.about__image img {
  max-width: 450px;
  margin: auto;
}

.menu__container {
  padding: 5rem 1rem;
}

.menu__header {
  color: #bcc199; /* Warna hijau telur asin */
}

.menu__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.menu__item {
  background-color: var(--primary-color-light);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.menu__item:hover {
  transform: translateY(-5px);
}

.menu__item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.menu__item h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #bcc199; /* Ubah warna menjadi hijau telur asin */
}

.menu__item p {
  font-size: 1rem;
  color: #bcc199; /* Ubah warna menjadi hijau telur asin */
}

/* Hero container styles */
.hero__container p {
  text-align: center;
  font-size: 12rem;
  font-weight: 700;
  background-image: url("../png/header.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--extra-light);
  color: #bcc199; /* Ubah warna menjadi hijau telur asin */
}

/* Gallery container styles */
.gallery__container {
  padding: 5rem 1rem;
}

.gallery__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.gallery__card {
  position: relative;
  overflow: hidden;
}

.gallery__content {
  position: absolute;
  left: 50%;
  bottom: -8rem;
  transform: translateX(-50%);
  width: 100%;
  padding: 2rem 1rem;
  transition: 0.3s;
  text-align: center;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}

.gallery__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
}

.gallery__card:hover .gallery__content {
  bottom: 0;
}

/* Contact section styles */
.contact {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.05),
    transparent
  );
}

.contact__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}

.contact__card {
  max-width: 250px;
  margin: auto;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  text-align: center;
  border: 1px solid var(--extra-light);
  border-radius: 100%;
  cursor: pointer;
}

.contact__card span {
  margin-bottom: 1rem;
  font-size: 2rem;
  transition: 0.3s;
  color: #bcc199; /* Ubah warna menjadi hijau telur asin */
}

.contact__card:hover span {
  color: var(--secondary-color);
}

.contact__col h4 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: #bcc199; /* Ubah warna menjadi hijau telur asin */
}

.contact__col p {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: #bcc199;
}

/* Footer styles */
.footer__container {
  text-align: center;
}

.footer__nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer__link a {
  font-weight: 500;
  color: var(--header-background-color);
}

.footer__link a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid var(--extra-light);
}

/* Media queries */
@media (max-width: 900px) {
  .link:not(.search) {
    display: none;
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .about__container :is(.section__header, .section__subheader) {
    text-align: center;
  }

  .about__image {
    grid-area: 1/1/2/2;
  }

  .hero__container p {
    font-size: 10rem;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__col:first-child {
    grid-area: 1/1/2/3;
    text-align: center;
  }
}
